<footer class="footer">
    <div class="footer__content">
        <img alt="Logo" class="footer__logo" src="./images/footer_logo.png"/>
        <ul class="footer__titles">
            <li class="title__home footer__title">
                <a href="index.html" class="footer_title_name">Home</a>
            </li>
            <li class="title__about footer__title">
                <a href="#" class="footer_title_name">about</a>
            </li>
            <li class="title__archive footer__title">
                <a href="#" class="footer_title_name">archive</a>
            </li>
            <li class="title__contact footer__title">
                <a class="footer_title_name" href = "contact.html"> contact</a>
            </li>
            <li class="title__search footer__title">
                <div class="footer__search-logo search_logo"></div>
            </li>
        </ul>
        <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
            hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
            auctor.</p>
        <div class="footer__bottom-text">
            <p class="footer__info-text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by</p>
            <a class="footer__link" href=#> PixelBuddha Team</a>
        </div>
        <ul class="footer__social-links">
            <li class="social-links__social_link">
                <div class="logo facebook"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo twitter"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo instagram"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo pinterest"></div>
            </li>
        </ul>
    </div>
</footer>