<div class="main-content">
    <header class="main-content__header">
        <h1 class="main-content__header_title">Contact Us</h1>
        <p class="main-content__text main-text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante
            posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
    </header>
    <div class="main-content__main">
        <form class="main-content__form">
            <label class="form__input">
                <input tabindex="1" class="form__box-input " type="text" name="username" placeholder="Your name">
            </label>
            <label class="form__input">
                <input tabindex="1" class="form__box-input form__box-input-email" type="email" name="email" placeholder="Email">
            </label>
            <label class="form__input-block">
                <input tabindex="1" class="form__box-input form__box-input-subject" type="text" name="subject" placeholder="Subject">
            </label>
            <label class="form__input-block">
                <textarea tabindex="1" class="form__box-input form__box-input-message"  name="message" placeholder="Your Message"></textarea>
            </label>
            <a class="main-content__button button" href="#">send message</a>
        </form>
    </div>
</div>