@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400i,700i');

body {
    max-width: 1400px;
    width: 100%;
    background-color: #f7f9fc;
    margin: 0;
    font-family: Lato, sans-serif;
}

.footer {
    margin: 80px 0 80px 0;
}

.header, .main, .footer__content, .main-content {
    margin: 0 auto;
    max-width: 953px;
}

.header {
    height: 190px;
}

.header__box-left, .header__right-box {
    margin-top: 50px;
}

.header__box-left, .post__footer_left-box {
    float: left;
}

.header__right-box, .post__footer_right-box {
    float: right;

}

.header__titles {
    margin-top: 33px;
    padding: 0;
    list-style: none;
}

.about, .archive, .contact {
    margin-left: 40px;
    margin-top: 0;
}

.titles__title {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.title__name {
    text-decoration: none;
    color: #000000;
    position: relative;
}

.search_logo {
    margin-left: 30px;
}

.header__search-logo:hover {
    background: url("../images/search_logo_hover.svg") no-repeat;
}

.header_main_logo {
    margin-left: 32px;

}

.title__name-inactive {
    color: #bdbdbd;
}

.home {
    margin-left: 0;
}

.main {
    position: relative;
}

.post, .main-content {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.date {
    font-size: 14px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: bold;
    margin: 0;
}

.first-post__date {
    padding-top: 52px;
}

.header__logo {
    margin-top: 30px;
}

.search_logo {
    width: 16px;
    height: 16px;
}

.header__search-logo {
    background: url("../images/search_logo.svg") no-repeat;
}

.post__header, .first-post__main, .post__footer, .main-content__header, .main-content__main {
    margin: 0 96px 0 97px;
}

.post_title {
    margin-left: -2px;
    margin-top: 7px;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
}

.first-post__main-text {
    padding-top: 18px;
}

.main-text {
    margin-left: -1px;
    font-size: 16.8px;
    word-spacing: 0.5px;
    line-height: 30px;
    color: #333333;

}

.post__header {
    border-bottom: 2px #eeeeee solid;
}

.first-post__header {
    height: 225px;
}

.button {
    font-size: 21px;
    line-height: 50px;
    color: #5c6bc0;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 34px;
    margin-left: -34px;
    position: relative;
    display: inline-block;
}

.button:after {
    content: '';
    position: absolute;
}

.button:hover {
    border: 1px solid #f1f1f1;
}

.button:active {
    border: 1px solid #7c89cc;
}

.post__footer {
    height: 131px;
}

.hashtag {
    margin-left: 10px;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    text-decoration: none;
    margin-top: 20px;
}

.right-box__hashtags {
    list-style: none;
}

.second_post_footer {
    height: 200px;
}

.main__second-post, .third-post {
    margin-top: 50px;
}

.second-post__date {
    padding-top: 35px;
}

.second-post__header {
    height: 212px;
}

.annotation__text {;
    font-size: 25.5px;
    line-height: 38px;
    font-style: italic;;
    color: #7b7c7d;
    margin-top: 30px;
    margin-left: -1px;
}

.second-post__main-text {
    margin-top: 10px;
}

.third-post__date {
    padding-top: 49px;
}

.third-post__header {
    height: 226px;
}

.third_post_image {
    display: inline-block;
    float: left;
    margin: 7px 22px 20px -13px;
}

.third-post_main-text {
    margin-top: 32px;
    margin-right: 15px;
    margin-bottom: 0;
}

.third-post__second-main-text {
    margin-top: 13px;
}

.third-post__insert {
    line-height: 30px;
    color: #999999;
    margin: 20px 0 28px;
    padding-left: 22px;
    font-size: 20px;
    border-left: 4px #eeeeee solid;
}

.footer {
    margin-top: 118px;
    background-color: #5c6bc0;
    height: 532px;
}

.footer__content {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.footer__logo {
    margin-top: 64px;
    opacity: .2;
}

.footer__titles {
    padding: 0;
    list-style: none;
    margin-top: 56px;
    text-decoration: none;
}

.footer__title {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;

}

.footer_title_name {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.footer__search-logo {
    width: 32px;
    height: 32px;
    background: url("../images/footer_search_logo.svg") no-repeat center;
    margin-bottom: -10px;

}

.footer__search-logo:hover {
    background-color: #5360ac;
}

.title__home {
    margin-left: 12px;
}

.title__about {
    margin-left: 14px;
}

.title__archive {
    margin-left: 50px;
}

.title__contact {
    margin-left: 48px;
}

.footer__text {
    font-size: 13px;
    color: #9da6d9;
    line-height: 1.6;
    border-top: 2px solid #5765b5;
    border-bottom: 2px solid #5765b5;
    margin-top: 36px;
    padding-top: 37px;
    margin-left: -8px;
    padding-bottom: 37px;
}

.footer__info-text {
    color: #9da6d9;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    line-height: 30px;

}

.footer__link {

    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.footer__link:after, .footer_title_name:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    bottom: -3px;
    transition: width 0.3s ease-in-out;
}

.hashtag__name {
    color: #b2b2b2;
}

.travel {
    top: 21px;
}

.observe {
    top: 1192px;
}

.reflect {
    top: 2102px;
}

.sticker {
    position: absolute;
    right: -11px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    color: white;
    font-weight: bold;
    text-align: right;
    background-color: #5c6bc0;
    transition: all 0.8s;
}

.sticker:hover {
    padding: 2px 14px 2px 17px;
    background-color: #6b79c6;
}

.sticker:active {
    background-color: #5360ad;
}

.hashtag__name:after {
    content: '';
    position: absolute;
    right: 0;
    float: left;
    width: 0;
    height: 1px;
    background-color: #5c6bc0;
    bottom: -3px;
    transition: width 0.2s ease-in-out;
}

.footer_title_name-inactive {
    text-decoration: none;
    color: #bdbdbd;

}

.footer__link:hover:after, .footer_title_name:hover:after, .title__name:hover:after {
    width: 100%;
}

.hashtag__name:hover:after {
    width: 87%;
}

.footer_title_name:active:after, .hashtag__name:active:after {
    opacity: 0;
}

.footer__bottom-text {
    margin-top: 17px;
    margin-left: 7px;
}

.hashtag__name, .title__name-inactive {
    text-decoration: none;
}

.hashtag__name:hover {
    color: #5c6bc0;
}

.post_image :hover {
    filter: grayscale(40%) contrast(110%);
}

.title__name:after {
    content: '';
    position: absolute;
    right: 0;
    float: left;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #5c6bc0;
    transition: width 0.3s ease-in-out;
}

.title__name:active:after {
    opacity: 0;
}

.title__name:active {
    color: #5c6bc0;
}

.social-links__social_link {
    list-style: none;
    display: inline-block;
}

.footer__social-links {
    margin-top: 11px;
    margin-left: -28px;
}

.logo {
    margin-right: 11px;
    height: 32px;
    width: 32px;
}

.logo:hover {
    background-color: #5360ac;
}

.facebook {
    background: url("../images/facebook_logo.svg") no-repeat center;
}

.twitter {
    background: url("../images/twitter_logo.svg") no-repeat center;
}

.instagram {
    background: url("../images/instagram_logo.svg") no-repeat center;
}

.pinterest {
    background: url("../images/pinterst_logo.svg") no-repeat center;
}

.link_in_text {
    color: #5c6bc0;
}

.main-content {
    margin-top: 0;
    height: 816px;
}

.main-content__header_title {
    padding-top: 70px;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.main-content__text {
    margin-top: 34px;

}

.main-content__header {
    height: 280px;
    border-bottom: 2px #eeeeee solid;

}

.form__input-block {
    display: block;
}

.main-content__main {
    margin-top: 18px;

}

.form__box-input {
    height: 50px;
    width: 332px;
    margin-top: 34px;
    font-size: 20px;
    line-height: 30px;

    background-color: #f7f9fc;
    border: none;

}

input {

    padding-left: 29px;
}

input::-webkit-input-placeholder {
    color: #bcbdbf;
}

.form__box-input-email {
    margin-left: 24px;
}

.form__box-input-subject {
    max-width: 720px;
    width: 100%;
}

.form__box-input-message {
    max-height: 140px;
    width: 100%;
}

.main-content__button {
    margin-top: 24px;
    font-size: 24px;
    line-height: 50px;
}

textarea::-webkit-input-placeholder {
    color: #bcbdbf;
    padding-left: 29px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    padding-top: 7px;

}

.form__box-input-message {
    max-width: 745px;
    width: 100%;
}

input::-ms-input-placeholder {
    color: #bcbdbf;
}

input::-ms-input-placeholder {
    color: #bcbdbf;
}

input::placeholder {
    color: #bcbdbf;
}

@media screen and (max-width: 480px) {
    body {
        max-width: 470px;
        background-color: #f7f9fc;
        margin: 0;
        font-family: Lato, sans-serif;
    }

    .footer {
        margin: 10px 0 10px 0;
    }

    .header, .main, .footer__content, .main-content {
        height: 100%;
        margin: 0 15px;
    }

    .header {

        height: 159px;
    }

    .header__box-left, .header__right-box {
        margin-top: 10px;
    }

    .header__box-left {
        float: left;
    }

    .header__right-box {
        float: right;

    }

    .header__titles {

        display: none;
    }

    .date {
        color: #bdbdbd;
        font-weight: bold;
        margin: 0;
        font-size: 18px;
        line-height: 50px;

    }

    .first-post__date {
        padding-top: 32px;
    }

    .header__logo {
        margin-top: 53px;
        margin-left: 15px;
    }

    .post__header, .first-post__main, .post__footer, .main-content__header, .main-content__main {
        margin: 0 48px 0 50px;
    }

    .post_title {
        margin-left: -2px;
        margin-top: 4px;
        color: #000000;
        font-weight: bold;
        max-width: 381px;
        height: 242px;
        font-size: 32px;
        line-height: 42px;

    }

    .first-post__main-text {
        padding-top: 40px;

    }

    .main-text {
        margin-left: -1px;
        word-spacing: 0.5px;
        color: #333333;
        font-size: 18px;
        line-height: 34px;

    }



    .first-post__header {
        height: 290px;
    }

    .button {
        line-height: 50px;
        color: #5c6bc0;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding: 17px 34px;
        margin-left: -34px;
        position: relative;
        font-size: 24px;

    }

    .button:after {
        content: '';
        position: absolute;
    }

    .button:hover {
        border: 1px solid #f1f1f1;
    }

    .button:active {
        border: 1px solid #7c89cc;
    }

    .post__footer_right-box {
        height: 60px;
    }

    .post__footer {
        height: 140px;
    }

    .first-post__hashtags {
        padding: 0;
    }

    .hashtag {
        font-size: 18px;
        display: inline-block;
        position: relative;
        text-decoration: none;
        margin-top: -30px;
        padding: 0;
        line-height: 50px;
        color: #000000;
    }

    .post__footer_right-box {
        width: 100%;
    }

    .right-box__hashtags {
        margin-top: -5px;
        margin-left: -7px;
        list-style: none;
    }

    .second_post_footer {
        height: 200px;
    }

    .second-post__main-image {
        width: 100%;
        height: 430px;
    }

    .main__second-post, .third-post {
        margin-top: 50px;
    }

    .second-post__date {
        padding-top: 35px;
    }

    .second-post__header {
        height: 242px;
    }

    .post__annotation {
        height: 235px;
    }

    .annotation__text {;

        font-style: italic;;
        color: #7b7c7d;
        margin-top: 30px;
        margin-left: -1px;
        font-size: 21px;
        line-height: 32px;

    }
    .second-post__main-text {
        margin-top: 10px;
    }

    .third-post__date {
        padding-top: 49px;
    }

    .third-post__header {
        height: 306px;
    }

    .third_post_main_image {
        display: block;
        height: 387px;
        margin-left: 80px;
    }

    .third-post_main-text {
        margin-top: 32px;
        margin-right: 15px;
        margin-bottom: 0;
    }

    .third-post__second-main-text {
        margin-top: 13px;
    }

    .third-post__insert {
        line-height: 30px;
        color: #999999;
        margin: 20px 0 28px;
        padding-left: 22px;
        font-size: 20px;
        border-left: 4px #eeeeee solid;
    }

    .footer {
        margin-top: 118px;
        background-color: #5c6bc0;
        height: 632px;
        width: 100%;
    }

    .footer__content {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .footer__logo {
        margin-top: 64px;
        opacity: .2;
    }

    .footer__titles {
        padding: 0;
        list-style: none;
        margin-top: 56px;
        text-decoration: none;
    }

    .footer__title {
        display: inline-block;
        font-size: 16px;
        line-height: 25px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;

    }

    .footer_title_name {
        text-decoration: none;
        color: #ffffff;
        position: relative;
    }

    .footer__search-logo {
        width: 32px;
        height: 32px;
        background: url("../images/footer_search_logo.svg") no-repeat center;
        margin-bottom: -10px;

    }

    .footer__search-logo:hover {
        background-color: #5360ac;
    }

    .title__home {

    }

    .title__about {
        margin-left: 10px;
    }

    .title__archive {
        margin-left: 10px;
    }

    .title__contact {
        margin-left: 10px;
    }

    .footer__text {
        font-size: 13px;
        color: #9da6d9;
        line-height: 1.6;
        border-top: 2px solid #5765b5;
        border-bottom: 2px solid #5765b5;
        margin-top: 36px;
        padding-top: 37px;
        margin-left: -8px;
        padding-bottom: 37px;
    }

    .footer__info-text {
        color: #9da6d9;
        display: inline-block;
        font-size: 14px;
        margin-top: 20px;
        line-height: 30px;

    }

    .footer__link {

        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        position: relative;
    }

    .footer__link:after, .footer_title_name:after {
        content: '';
        position: absolute;
        right: 0;
        width: 0;
        height: 1px;
        background-color: #ffffff;
        bottom: -3px;
        transition: width 0.3s ease-in-out;
    }

    .hashtag__name {
        color: #b2b2b2;
    }

    .travel {
        top: 0;
        right:0;
    }

    .observe {
        top: 1034px;
        right:0;
    }

    .reflect {
        top: 2960px;
        right:0;
    }

    .sticker {
        position: absolute;
        text-decoration: none;
        font-size: 14px;
        line-height: 32px;
        color: white;
        font-weight: bold;
        text-align: right;
        background-color: #5c6bc0;
        transition: all 0.8s;
        padding: 2px 14px 2px 17px;
    }

    .hashtag__name:after {
        content: '';
        position: absolute;
        right: 0;
        float: left;
        width: 0;
        height: 1px;
        background-color: #5c6bc0;
        bottom: -3px;
        transition: width 0.2s ease-in-out;
    }

    .footer_title_name-inactive {
        text-decoration: none;
        color: #bdbdbd;

    }

    .footer__link:hover:after, .footer_title_name:hover:after, .title__name:hover:after {
        width: 100%;
    }

    .hashtag__name:hover:after {
        width: 87%;
    }

    .footer_title_name:active:after, .hashtag__name:active:after {
        opacity: 0;
    }

    .footer__bottom-text {
        margin-top: 17px;
        margin-left: 7px;
    }

    .hashtag__name, .title__name-inactive {
        text-decoration: none;
    }

    .hashtag__name:hover {
        color: #5c6bc0;
    }

    .post_image :hover {
        filter: grayscale(40%) contrast(110%);
    }

    .title__name:after {
        content: '';
        position: absolute;
        right: 0;
        float: left;
        bottom: -3px;
        width: 0;
        height: 3px;
        background-color: #5c6bc0;
        transition: width 0.3s ease-in-out;
    }

    .title__name:active:after {
        opacity: 0;
    }

    .title__name:active {
        color: #5c6bc0;
    }

    .social-links__social_link {
        list-style: none;
        display: inline-block;
    }

    .footer__social-links {
        margin-top: 11px;
        margin-left: -28px;
    }

    .logo {
        margin-right: 11px;
        height: 32px;
        width: 32px;
    }

    .logo:hover {
        background-color: #5360ac;
    }

    .facebook {
        background: url("../images/facebook_logo.svg") no-repeat center;
    }

    .twitter {
        background: url("../images/twitter_logo.svg") no-repeat center;
    }

    .instagram {
        background: url("../images/instagram_logo.svg") no-repeat center;
    }

    .pinterest {
        background: url("../images/pinterst_logo.svg") no-repeat center;
    }

    .link_in_text {
        color: #5c6bc0;
        text-decoration: none;
    }

    .main-content {
        margin-top: 0;
        height: 1076px;
    }

    .main-content__header_title {
        padding-top: 70px;
        font-size: 40px;
        line-height: 50px;
        color: #000000;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-content__text {
        margin-top: 34px;

    }

    .main-content__header {
        height: 460px;
        border-bottom: 2px #eeeeee solid;
    }

    .form__input-block {
        display: block;
    }

    .main-content__main {
        margin-top: 18px;

    }

    .form__box-input {
        height: 50px;
        max-width: 322px;
        width: 100%;
        margin-top: 34px;
        font-size: 20px;
        line-height: 30px;

        background-color: #f7f9fc;
        border: none;

    }

    .form__box-input-email {
        margin-left: 0;
    }

    input {

        padding-left: 29px;
    }

    input::-webkit-input-placeholder {
        color: #bcbdbf;
    }

    .form__box-input-message {
        height: 140px;

    }

    .main-content__button {
        margin-top: 24px;
        font-size: 24px;
        line-height: 50px;
    }

    textarea::-webkit-input-placeholder {
        color: #bcbdbf;
        padding-left: 29px;
        font-family: Lato, sans-serif;
        font-size: 20px;
        padding-top: 7px;

    }

    .form__box-input-message {
        max-width: 348px;
        width: 100%;
    }

    input::-ms-input-placeholder {
        color: #bcbdbf;
    }

    input::-ms-input-placeholder {
        color: #bcbdbf;
    }

    input::placeholder {
        color: #bcbdbf;
    }
}

@media screen and (max-width: 320px) {
    body {
        width: 100%;
        background-color: #f7f9fc;
        margin: 0;
        font-family: Lato, sans-serif;
    }

    .footer {
        margin: 10px 0 10px 0;
    }

    .header, .main, .footer__content, .main-content {
        height: 100%;
        margin: 0 15px;
    }

    .header {

        height: 159px;
    }

    .header__box-left, .header__right-box {
        margin-top: 10px;
    }

    .header__box-left {
        float: left;
    }

    .header__right-box {
        float: right;

    }

    .header__titles {

        display: none;
    }

    .date {
        color: #bdbdbd;
        font-weight: bold;
        margin: 0;
        line-height: 50px;
        font-size: 15px;
    }

    .first-post__date {
        padding-top: 32px;
    }

    .header__logo {
        margin-top: 53px;
        margin-left: 15px;
    }

    .post__header, .first-post__main, .post__footer, .main-content__header, .main-content__main {
        margin: 0 24px 0 26px;
    }

    .post_title {
        margin-left: -2px;
        margin-top: 4px;
        color: #000000;
        font-weight: bold;
        max-width: 381px;
        font-size: 24px;
        line-height: 32px;

    }

    .first-post__main-text {
        padding-top: 20px;

    }

    .main-text {
        margin-left: -1px;
        word-spacing: 0.5px;
        color: #333333;
        font-size: 16px;
        line-height: 28px;

    }


    .first-post__header {
        height: 245px;
    }

    .button {
        margin-top: -10px;
        line-height: 50px;

        padding: 10px 17px;
        margin-left: -16px;
        font-size: 20px;

    }

    .post__footer_right-box {
        height: 60px;
    }

    .button:after {
        content: '';
        position: absolute;
    }

    .button:hover {
        border: 1px solid #f1f1f1;
    }

    .button:active {
        border: 1px solid #7c89cc;
    }

    .post__footer_right-box {
        height: 30px;
    }

    .post__footer {
        height: 140px;
    }

    .first-post__hashtags {
        padding: 0;
    }

    .hashtag {

        display: inline-block;
        position: relative;
        text-decoration: none;
        margin-top: 0;
        padding: 0;
        line-height: 50px;
        color: #000000;
        font-size: 15px;
    }

    .post__footer_right-box {
        width: 100%;
    }

    .right-box__hashtags {
        margin-top: 7px;
        margin-left: -7px;
        list-style: none;
    }

    .second_post_footer {
        height: 200px;
    }

    .second-post__main-image {
        width: 100%;
        height: 226px;
    }

    .main__second-post, .third-post {
        margin-top: 50px;
    }

    .second-post__date {
        padding-top: 35px;
    }

    .second-post__header {
        height: 242px;
    }

    .post__annotation {
        height: 290px;
    }

    .annotation__text {;

        font-style: italic;;
        color: #7b7c7d;
        margin-top: 30px;
        margin-left: -1px;
        font-size: 18px;
        line-height: 30px;

    }

    .second-post__main-text {
        margin-top: 10px;
    }

    .third-post__date {
        padding-top: 49px;
    }

    .third-post__header {
        height: 306px;
    }

    .third_post_main_image {
        display: block;
        height: 387px;
        margin: 0 auto;
    }

    .third-post_main-text {
        margin-top: 32px;
        margin-right: 15px;
        margin-bottom: 0;
    }

    .third-post__second-main-text {
        margin-top: 13px;
    }

    .third-post__insert {

        color: #999999;
        margin: 20px 0 28px;
        padding-left: 22px;
        border-left: 4px #eeeeee solid;
        font-size: 17px;
        line-height: 27px;

    }

    .footer {
        margin-top: 118px;
        background-color: #5c6bc0;
        height: 782px;
        width: 100%;
    }

    .footer__content {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .footer__logo {
        margin-top: 64px;
        opacity: .2;
    }

    .footer__titles {
        padding: 0;
        display: block;
        list-style: none;
        margin-top: 56px;
        text-decoration: none;
        text-align: center;
    }

    .footer__title {
        display: block;
        font-size: 16px;
        line-height: 25px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: center;
    }

    .footer_title_name {
        text-decoration: none;
        color: #ffffff;
        position: relative;
    }

    .footer__search-logo {
        width: 32px;
        height: 32px;
        background: url("../images/footer_search_logo.svg") no-repeat center;
        margin: 0 auto;
        text-align: center;

    }

    .footer__search-logo:hover {
        background-color: #5360ac;
    }

    .title__home {
        text-align: center;
    }

    .footer__text {
        font-size: 13px;
        color: #9da6d9;
        line-height: 1.6;
        border-top: 2px solid #5765b5;
        border-bottom: 2px solid #5765b5;
        margin-top: 36px;
        padding-top: 37px;
        margin-left: -8px;
        padding-bottom: 37px;
    }

    .footer__info-text {
        color: #9da6d9;
        display: inline-block;
        font-size: 14px;
        margin-top: 20px;
        line-height: 30px;

    }

    .footer__link {

        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        position: relative;
    }

    .footer__link:after, .footer_title_name:after {
        content: '';
        position: absolute;
        right: 0;
        width: 0;
        height: 1px;
        background-color: #ffffff;
        bottom: -3px;
        transition: width 0.3s ease-in-out;
    }

    .hashtag__name {
        color: #b2b2b2;
    }

    .travel {
        top: 0;
        right:0;
    }

    .observe {
        top: 1050px;
    }

    .reflect {
        top: 2914px;
    }

    .sticker {
        position: absolute;
        text-decoration: none;
        font-size: 14px;
        line-height: 32px;
        color: white;
        font-weight: bold;
        text-align: right;
        background-color: #5c6bc0;
        transition: all 0.8s;
        padding: 2px 13px 2px 17px;
    }

    .hashtag__name:after {
        content: '';
        position: absolute;
        right: 0;
        float: left;
        width: 0;
        height: 1px;
        background-color: #5c6bc0;
        bottom: 0;
        transition: width 0.2s ease-in-out;
    }

    .footer_title_name-inactive {
        text-decoration: none;
        color: #bdbdbd;

    }

    .footer__link:hover:after, .footer_title_name:hover:after, .title__name:hover:after {
        width: 100%;
    }

    .hashtag__name:hover:after {
        width: 87%;
    }

    .footer_title_name:active:after, .hashtag__name:active:after {
        opacity: 0;
    }

    .footer__bottom-text {
        margin-top: 17px;
        margin-left: 7px;
    }

    .title__name:after {
        content: '';
        position: absolute;
        right: 0;
        float: left;
        bottom: -3px;
        width: 0;
        height: 3px;
        background-color: #5c6bc0;
        transition: width 0.3s ease-in-out;
    }

    .title__name:active:after {
        opacity: 0;
    }

    .title__name:active {
        color: #5c6bc0;
    }

    .social-links__social_link {
        list-style: none;
        display: inline-block;
    }

    .footer__social-links {
        margin-top: 11px;
        margin-left: -28px;
    }

    .logo {
        margin-right: 11px;
        height: 32px;
        width: 32px;
    }

    .link_in_text {
        color: #5c6bc0;
        text-decoration: none;
    }

    .main-content {
        margin-top: 0;
        height: 1076px;
    }

    .main-content__header_title {
        padding-top: 70px;
        font-size: 40px;
        line-height: 50px;
        color: #000000;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-content__text {
        margin-top: 34px;

    }

    .main-content__header {
        height: 490px;
    }

    .form__input-block {
        display: block;
    }

    .main-content__main {
        margin-top: 18px;

    }

    .form__box-input {
        height: 50px;
        max-width: 200px;
        width: 100%;
        margin-top: 34px;
        font-size: 20px;
        line-height: 30px;
    }

    .form__box-input-email {
        margin-left: 0;
    }

    .form__box-input-message {
        height: 140px;

    }

    .main-content__button {
        margin-top: 24px;
        font-size: 24px;
        line-height: 50px;
    }

    .form__box-input-message {
        max-width: 225px;
        width: 100%;
    }

}