<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<header class="header">
    <div class="header__box-left">
        <img alt="Logo" class="header__logo" src="../images/header_logo.png"/>
    </div>
    <div class="header__right-box">
        <ul class="header__titles">
            <li class=" titles__title">
                <a href="index.html" class="title__name ">Home</a>
            </li>
            <li class="about titles__title">
                <a href="#" class="title__name">about</a>
            </li>
            <li class="archive titles__title">
                <a href="#" class="title__name">archive</a>
            </li>
            <li class="contact titles__title">
                <a href="contact.html" class="title__name-inactive"> contact</a>
            </li>
            <li class="search titles__title">
                <div class="header__search-logo search_logo"></div>
            </li>
        </ul>
        <div class="header_main_logo">

        </div>

    </div>
</header>
<div class="main-content">
    <header class="main-content__header">
        <h1 class="main-content__header_title">Contact Us</h1>
        <p class="main-content__text main-text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante
            posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
    </header>
    <div class="main-content__main">
    <form class="main-content__form">
        <label class="form__input">
            <input tabindex="1" class="form__box-input " type="text" name="username" placeholder="Your name">
        </label>
        <label class="form__input">
            <input tabindex="1" class="form__box-input form__box-input-email" type="email" name="email" placeholder="Email">
        </label>
        <label class="form__input-block">
            <input tabindex="1" class="form__box-input form__box-input-subject" type="text" name="subject" placeholder="Subject">
        </label>
        <label class="form__input-block">
            <textarea tabindex="1" class="form__box-input form__box-input-message"  name="message" placeholder="Your Message"></textarea>
        </label>
        <a class="main-content__button button" href="#">send message</a>
    </form>
    </div>
</div>
<footer class="footer">
    <div class="footer__content">
        <img alt="Logo" class="footer__logo" src="../images/footer_logo.png"/>
        <ul class="footer__titles">
            <li class="title__home footer__title">
                <a href="index.html" class="footer_title_name">Home</a>
            </li>
            <li class="title__about footer__title">
                <a href="#" class="footer_title_name">about</a>
            </li>
            <li class="title__archive footer__title">
                <a href="#" class="footer_title_name">archive</a>
            </li>
            <li class="title__contact footer__title">
                <a class="footer_title_name-inactive" href=#> contact</a>
            </li>
            <li class="footer_search footer__title">
                <div class="footer__search-logo search_logo"></div>
            </li>
        </ul>
        <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
            hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
            auctor.</p>
        <div class="footer__bottom-text">
            <p class="footer__info-text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by</p>
            <a class="footer__link" href=#> PixelBuddha Team</a>
        </div>
        <ul class="footer__social-links">
            <li class="social-links__social_link">
                <div class="logo facebook"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo twitter"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo instagram"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo pinterest"></div>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>