<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<header class="header">
    <div class="header_left">
        <img alt="Logo" class="header_logo" src="../images/header_logo.png"/>
    </div>
    <div class="header_right">
        <ul class="header_titles">
            <li class=" header_title">
                <a href="index.html" class="title_name ">Home</a>
            </li>
            <li class="about header_title">
                <a href="#" class="title_name">about</a>
            </li>
            <li class="archive header_title">
                <a href="#" class="title_name">archive</a>
            </li>
            <li class="contact header_title">
                <a href="contact.html" class="title_name-inactive"> contact</a>
            </li>
            <li class="search header_title">
                <div class="header_search_logo search_logo"></div>
            </li>
        </ul>
        <div class="header_main_logo">

        </div>

    </div>
</header>
<div class="main-content">
    <header class="main-content__header">
        <h1 class="main-content__header_title">Contact Us</h1>
        <p class="main-content__text main_text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante
            posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
    </header>
    <div class="main-content__main">
    <form class="main-content__form">
        <label class="form__input">
            <input tabindex="1" class="form__box-input " type="text" name="username" placeholder="Your name">
        </label>
        <label class="form__input">
            <input tabindex="1" class="form__box-input form__box-input-email" type="email" name="email" placeholder="Email">
        </label>
        <label class="form__input-block">
            <input tabindex="1" class="form__box-input form__box-input-subject" type="text" name="subject" placeholder="Subject">
        </label>
        <label class="form__input-block">
            <textarea tabindex="1" class="form__box-input form__box-input-message"  name="message" placeholder="Your Message"></textarea>
        </label>
        <a class="main-content__button button" href="#">send message</a>
    </form>
    </div>
</div>
<footer class="footer">
    <div class="footer_content">
        <img alt="Logo" class="footer_logo" src="../images/footer_logo.png"/>
        <ul class="footer_titles">
            <li class="footer_home footer_title">
                <a href="#" class="footer_title_name-inactive">Home</a>
            </li>
            <li class="footer_about footer_title">
                <a href="#" class="footer_title_name">about</a>
            </li>
            <li class="footer_archive footer_title">
                <a href="#" class="footer_title_name">archive</a>
            </li>
            <li class="footer_contact footer_title">
                <a class="footer_title_name" href=#> contact</a>
            </li>
            <li class="footer_search footer_title">
                <div class="footer_search_logo search_logo"></div>
            </li>
        </ul>
        <p class="footer_text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
            hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
            auctor.</p>
        <div class="footer_bottom_text">
            <p class="footer_info_text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by</p>
            <a class="footer_link" href=#> PixelBuddha Team</a>
        </div>
        <ul class="social_links">
            <li class="social_link">
                <div class="logo facebook"></div>
            </li>
            <li class="social_link">
                <div class="logo twitter"></div>
            </li>
            <li class="social_link">
                <div class="logo instagram"></div>
            </li>
            <li class="social_link">
                <div class="logo pinterest"></div>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>