<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="header">
    <div class="header_left">
        <img alt="Logo" class="header_logo" src="../images/header_logo.png"/>
    </div>
    <div class="header_right">
        <ul class="header_titles">
            <li class=" header_title">
                <a href="#" class="title_name-inactive home">Home</a>
            </li>
            <li class="about header_title">
                <a href="#" class="title_name">about</a>
            </li>
            <li class="archive header_title">
                <a href="#" class="title_name">archive</a>
            </li>
            <li class="contact header_title">
                <a href="#" class="title_name"> contact</a>
            </li>
            <li class="search header_title">
                <div class="header_search_logo search_logo"></div>
            </li>
        </ul>
        <div class="header_main_logo">

        </div>

    </div>
</div>
<div class="main">
    <div class="first_post post">

        <div class="first_post_header post_header">
            <div class="header_post_sticker"><a class="sticker travel" href=#>I Do Travel</a></div>
            <p class="first_post_date date">Sep 20</p>
            <h1 class="first_post_title post_title">No difference how many peaks you reach if there was no pleasure in
                the climb.</h1>
        </div>
        <div class="post_main">
            <p class="first_post_main_text main_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus
                aliquet.
                Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut
                maximus
                metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin
                orci
                egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue,
                in
                volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus
                nisi,
                aliquam sed tincidunt sit amet, pretium et augue.</p>
        </div>
        <div class="post_footer">
            <div class="post_footer_left">
                <a class="button" href="#">Read more</a>
            </div>
            <div class="post_footer_right">
                <ul class="hashtags first_post_hashtags">
                    <li class="hashtag">
                        <a class="hashtag_name" href=#>#Yosemite</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag_name" href=#>#Peak</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag_name" href=#>#Explorer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="second_post post">
        <div class="post_image">
            <img src="../images/main1.jpg">
        </div>
        <div class="second_post_header post_header">
            <div class="header_post_sticker"><a class="sticker observe" href=#>I Do Observe</a></div>
            <p class="second_post_date date">Sep 18</p>
            <h1 class="second_post_title post_title">You know, I'd rather argue with you, then laugh with anyone
                else.</h1>
        </div>
        <div class="post_main">
            <div class="annotation">
                <p class="annotation_text">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor
                    velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a
                    euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</p>
            </div>
            <p class="second_post_main_text main_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus
                aliquet. Ut ac elementum
                urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed
                ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
                Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in
                volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus
                nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
            <p class="second_post_bottom_text main_text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien
                bibendum
                viverra. Curabitur semper
                scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id
                congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
        </div>
        <div class="post_footer">
            <div class="post_footer_left">
                <a class="button" href="#">Read more</a>
            </div>
            <div class="post_footer_right">
                <ul class="hashtags first_post_hashtags">
                    <li class="hashtag">
                        <a class="hashtag_name" href=#>#Yosemite</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag_name" href=#>#Peak</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag_name" href=#>#Photo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="third_post post">
        <div class="third_post_header post_header">
            <div class="header_post_sticker"><a class="sticker reflect" href=#>I Do Reflect</a></div>
            <p class="third_post_date date">Sep 11</p>
            <h1 class="second_post_title post_title">Democracy means simply the bludgeoning of the people by the people
                for the people.</h1>
        </div>
        <div class="post_main third_post_main">
            <img class="third_post_image" src="../images/1.jpg">
            <p class="third_post_main_text main_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus
                aliquet. Ut ac elementum
                urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed
                ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
                Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in
                volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus
                nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
            <p class="third_post_second_main_text main_text">
                Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum
                eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat
                lorem, <a class="link_in_text" href="#">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante,
                varius a
                euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam
                augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae
                egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis
                metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod
                nec. Suspendisse sit amet feugiat turpis.
            </p>
            <p class="third_post_insert"> Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi
                hendrerit lectus turpis, a
                porttitor velit imperdiet id.</p>
            <p class="third_post_bottom_text main_text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor
                sem,
                consectetur nec hendrerit ut,
                ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
                Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat
                tincidunt. Aliquam gravida quam at ipsum sagittis bibendum</p>
        </div>
        <div class="post_footer">
            <div class="post_footer_left">
                <a class="button" href="#">Read more</a>
            </div>
            <div class="post_footer_right">
                <ul class="hashtags first_post_hashtags">
                    <li class="hashtag">
                        <a class="hashtag_name" href=#>#Democracy</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag_name" href=#>#Introspection</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_content">
        <img alt="Logo" class="footer_logo" src="../images/footer_logo.png"/>
        <ul class="footer_titles">
            <li class="footer_home footer_title">
                <a href="#" class="footer_title_name-inactive">Home</a>
            </li>
            <li class="footer_about footer_title">
                <a href="#" class="footer_title_name">about</a>
            </li>
            <li class="footer_archive footer_title">
                <a href="#" class="footer_title_name">archive</a>
            </li>
            <li class="footer_contact footer_title">
                <a class="footer_title_name" href=#> contact</a>
            </li>
            <li class="footer_search footer_title">
                <div class="footer_search_logo search_logo"></div>
            </li>
        </ul>
        <p class="footer_text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
            hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
            auctor.</p>
        <div class="footer_bottom_text">
            <p class="footer_info_text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by</p>
            <a class="footer_link" href=#> PixelBuddha Team</a>
        </div>
        <ul class="social_links">
            <li class="social_link">
                <div class="logo facebook"></div>
            </li>
            <li class="social_link">
                <div class="logo twitter"></div>
            </li>
            <li class="social_link">
                <div class="logo instagram"></div>
            </li>
            <li class="social_link">
                <div class="logo pinterest"></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>