<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<header class="header">
    <div class="header__box-left">
        <img alt="Logo" class="header__logo" src="../images/header_logo.png"/>
    </div>
    <div class="header__right-box">
        <ul class="header__titles">
            <li class=" titles__title">
                <a href="#" class="title__name-inactive home">Home</a>
            </li>
            <li class="about titles__title">
                <a href="#" class="title__name">about</a>
            </li>
            <li class="archive titles__title">
                <a href="#" class="title__name">archive</a>
            </li>
            <li class="contact titles__title">
                <a href="contact.html" class="title__name"> contact</a>
            </li>
            <li class="search titles__title">
                <div class="header__search-logo search_logo"></div>
            </li>
        </ul>

    </div>
</header>
<main class="main">
    <div class="main__first-post post">

        <div class="first-post__header post__header">
            <div class="header__post_sticker"><a class="sticker travel" href=#>I Do Travel</a></div>
            <p class="first-post__date date">Sep 20</p>
            <h1 class="first-post__title post_title">No difference how many peaks you reach if there was no pleasure in
                the climb.</h1>
        </div>
        <div class="first-post__main">
            <p class="first-post__main-text main-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus
                aliquet.
                Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut
                maximus
                metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin
                orci
                egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue,
                in
                volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus
                nisi,
                aliquam sed tincidunt sit amet, pretium et augue.</p>
        </div>
        <div class="post__footer">
            <div class="post__footer_left-box">
                <a class=" main__button button" href="#">Read more</a>
            </div>
            <div class="post__footer_right-box">
                <ul class="right-box__hashtags first-post__hashtags">
                    <li class="hashtag">
                        <a class="hashtag__name" href=#>#Yosemite</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag__name" href=#>#Peak</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag__name" href=#>#Explorer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main__second-post post">
        <div class="second-post__image">
            <img class="second-post__main-image" src="../images/main1.jpg">
        </div>
        <div class="second-post__header post__header">
            <div class="header__sticker"><a class="sticker observe" href=#>I Do Observe</a></div>
            <p class="second-post__date date">Sep 18</p>
            <h1 class="second_post_title post_title">You know, I'd rather argue with you, then laugh with anyone
                else.</h1>
        </div>
        <div class="first-post__main">
            <div class="post__annotation">
                <p class="annotation__text">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor
                    velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a
                    euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</p>
            </div>
            <p class="second-post__main-text main-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus
                aliquet. Ut ac elementum
                urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed
                ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
                Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in
                volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus
                nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
            <p class="second-post__bottom_text main-text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien
                bibendum
                viverra. Curabitur semper
                scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id
                congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
        </div>
        <div class="post__footer">
            <div class="post__footer_left-box">
                <a class="button" href="#">Read more</a>
            </div>
            <div class="post__footer_right-box">
                <ul class="right-box__hashtags first-post__hashtags">
                    <li class="hashtag">
                        <a class="hashtag__name" href=#>#Yosemite</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag__name" href=#>#Peak</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag__name" href=#>#Photo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="third-post post">
        <div class="third-post__header post__header">
            <div class="header_post_sticker"><a class="sticker reflect" href=#>I Do Reflect</a></div>
            <p class="third-post__date date">Sep 11</p>
            <h1 class="second_post_title post_title">Democracy means simply the bludgeoning of the people by the people
                for the people.</h1>
        </div>
        <div class="first-post__main third_post_main">
            <div class="third_post_main_image">
            <img class="third_post_image" src="../images/1.jpg"></div>

            <p class="third-post_main-text main-text">Quisque congue lacus mattis massa luctus, nec hendrerit purus
                aliquet. Ut ac elementum
                urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed
                ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
                Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in
                volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus
                nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
            <p class="third-post__second-main-text main-text">
                Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum
                eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat
                lorem, <a class="link_in_text" href="#">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante,
                varius a
                euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam
                augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae
                egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis
                metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod
                nec. Suspendisse sit amet feugiat turpis.
            </p>
            <p class="third-post__insert"> Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi
                hendrerit lectus turpis, a
                porttitor velit imperdiet id.</p>
            <p class="third-post__bottom-text main-text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor
                sem,
                consectetur nec hendrerit ut,
                ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
                Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat
                tincidunt. Aliquam gravida quam at ipsum sagittis bibendum</p>
        </div>
        <div class="post__footer">
            <div class="post__footer_left-box">
                <a class="button" href="#">Read more</a>
            </div>
            <div class="post__footer_right-box">
                <ul class="right-box__hashtags first-post__hashtags">
                    <li class="hashtag">
                        <a class="hashtag__name" href=#>#Democracy</a>
                    </li>
                    <li class="hashtag">
                        <a class="hashtag__name" href=#>#Introspection</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__content">
        <img alt="Logo" class="footer__logo" src="../images/footer_logo.png"/>
        <ul class="footer__titles">
            <li class="title__home footer__title">
                <a href="#" class="footer_title_name-inactive">Home</a>
            </li>
            <li class="title__about footer__title">
                <a href="#" class="footer_title_name">about</a>
            </li>
            <li class="title__archive footer__title">
                <a href="#" class="footer_title_name">archive</a>
            </li>
            <li class="title__contact footer__title">
                <a class="footer_title_name" href = "contact.html"> contact</a>
            </li>
            <li class="title__search footer__title">
                <div class="footer__search-logo search_logo"></div>
            </li>
        </ul>
        <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
            hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
            auctor.</p>
        <div class="footer__bottom-text">
            <p class="footer__info-text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by</p>
            <a class="footer__link" href=#> PixelBuddha Team</a>
        </div>
        <ul class="footer__social-links">
            <li class="social-links__social_link">
                <div class="logo facebook"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo twitter"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo instagram"></div>
            </li>
            <li class="social-links__social_link">
                <div class="logo pinterest"></div>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>